<html>
    <head>
        <title>Last 5 Orders with Items</title>
    </head>
    <body>
        <h1>Last 5 Orders with Items</h1>
        <ul>
            {% for order in orders %}
                <li>
                    Order ID - {{order.id}}
                </li>
                <li>
                    Customer ID - {{order.customer.id}}
                </li>
                {% for item in order.orderitem_set.all %}
                    <li>
                        Product Title - {{item.product.title}}
                    </li>
                    <li>
                        Quantity - {{item.quantity}}
                    </li>
            {% endfor %}
        </ul>
    </body>
</html>